src/java/Bpel/RTToFPCompositeApp/src/jbiasa/RTToFPCompositeApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="RTToFPCompositeApp"
             xmlns:tns="RTToFPCompositeApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/RTToFPBpelModule/src/RTToFPRequestor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://fp/">
    <import namespace="http://j2ee.netbeans.org/wsdl/RTToFPBpelModule/src/RTToFPRequestor" location="../jbiServiceUnits/RTToFPBpelModule/RTToFPRequestor.wsdl"/>
    <import namespace="http://fp/" location="../jbiServiceUnits/RTToFPBpelModule/TransferClientWS.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:RTToFPRequestorPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RTToFPRequestorOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="RTToFPCompositeApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="RTToFPCompositeApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:TransferClientWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="transferFromFp11ToRt">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToGithub">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromRtToFp11">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToBitBucket">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RTToFPCompositeAppService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RTToFPCompositeAppService1/casaPort1"/>
        </port>
    </service>
    <service name="RTToFPCompositeAppService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/RTToFPCompositeAppService2/casaPort2"/>
        </port>
    </service>
</definitions>
