src/java/bpel/JointRtToFp11AndFp11ToRTBpel/src/localhost_8080/TransferClient/ContentMapConverter.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://utils/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://utils/">

<xs:element name="getCreateIssueInputContent" type="tns:getCreateIssueInputContent"/>

<xs:element name="getCreateIssueInputContentResponse" type="tns:getCreateIssueInputContentResponse"/>

<xs:complexType name="getCreateIssueInputContent">
<xs:sequence>
<xs:element name="issueId" type="xs:string" minOccurs="0"/>
<xs:element name="projectId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreateIssueInputContentResponse">
<xs:sequence>
<xs:element name="return" type="tns:contentMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contentMap">
<xs:sequence>
<xs:element name="map" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>