src/java/Bpel/FPTransferClientCompositeApp/src/jbiasa/FPTransferClientCompositeApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="FPTransferClientCompositeApp"
             xmlns:tns="FPTransferClientCompositeApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/FPToBitBucketBpelModule/src/FPToBitBucketRequestorWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://fp/" xmlns:ns2="http://j2ee.netbeans.org/wsdl/FPToGitHubBpelModule/src/FpToGitHubTransferRequestorWSDL" xmlns:ns3="http://j2ee.netbeans.org/wsdl/FPTransferClientBpelModule/src/FPTransferRequestorWSDL">
    <import namespace="http://j2ee.netbeans.org/wsdl/FPToBitBucketBpelModule/src/FPToBitBucketRequestorWSDL" location="../jbiServiceUnits/FPToBitBucketBpelModule/FPToBitBucketRequestorWSDL.wsdl"/>
    <import namespace="http://fp/" location="../jbiServiceUnits/FPToBitBucketBpelModule/TransferClientWS.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/FPToGitHubBpelModule/src/FpToGitHubTransferRequestorWSDL" location="../jbiServiceUnits/FPToGitHubBpelModule/FpToGitHubTransferRequestorWSDL.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/FPTransferClientBpelModule/src/FPTransferRequestorWSDL" location="../jbiServiceUnits/FPtoRTTransferClientBpelModule/FPTransferRequestorWSDL.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:FPToBitBucketRequestorWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FPToBitBucketRequestorWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:TransferClientWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="transferFromFp11ToRt">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToGithub">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromRtToFp11">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToBitBucket">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:FpToGitHubTransferRequestorWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FpToGitHubTransferRequestorWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns1:TransferClientWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="transferFromFp11ToRt">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToGithub">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromRtToFp11">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToBitBucket">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns3:FPTransferRequestorWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FPTransferRequestorWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="FPTransferClientCompositeApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns1:TransferClientWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="transferFromFp11ToRt">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToGithub">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromRtToFp11">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferFromFp11ToBitBucket">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FPTransferClientCompositeAppService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService1/casaPort1"/>
        </port>
    </service>
    <service name="FPTransferClientCompositeAppService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService2/casaPort2"/>
        </port>
    </service>
    <service name="FPTransferClientCompositeAppService3">
        <port name="casaPort3" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService3/casaPort3"/>
        </port>
    </service>
    <service name="FPTransferClientCompositeAppService4">
        <port name="casaPort4" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService4/casaPort4"/>
        </port>
    </service>
    <service name="FPTransferClientCompositeAppService5">
        <port name="casaPort5" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService5/casaPort5"/>
        </port>
    </service>
    <service name="FPTransferClientCompositeAppService6">
        <port name="casaPort6" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/FPTransferClientCompositeAppService6/casaPort6"/>
        </port>
    </service>
</definitions>
