src/java/bpel/FP11ToAllBpel/src/localhost_8080/TransferClient/BitBucket.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bitbucket/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bitbucket/" name="BitBucket">
<types>
<xsd:schema>
<xsd:import namespace="http://bitbucket/" schemaLocation="http://localhost:8080/TransferClient/BitBucket?xsd=1"/>
</xsd:schema>
</types>
<message name="getIssueDetails">
<part name="parameters" element="tns:getIssueDetails"/>
</message>
<message name="getIssueDetailsResponse">
<part name="parameters" element="tns:getIssueDetailsResponse"/>
</message>
<message name="editIssue">
<part name="parameters" element="tns:editIssue"/>
</message>
<message name="editIssueResponse">
<part name="parameters" element="tns:editIssueResponse"/>
</message>
<message name="createIssue">
<part name="parameters" element="tns:createIssue"/>
</message>
<message name="createIssueResponse">
<part name="parameters" element="tns:createIssueResponse"/>
</message>
<message name="linkIssues">
<part name="parameters" element="tns:linkIssues"/>
</message>
<message name="linkIssuesResponse">
<part name="parameters" element="tns:linkIssuesResponse"/>
</message>
<message name="queryIssues">
<part name="parameters" element="tns:queryIssues"/>
</message>
<message name="queryIssuesResponse">
<part name="parameters" element="tns:queryIssuesResponse"/>
</message>
<portType name="BitBucket">
<operation name="getIssueDetails">
<input wsam:Action="http://bitbucket/BitBucket/getIssueDetailsRequest" message="tns:getIssueDetails"/>
<output wsam:Action="http://bitbucket/BitBucket/getIssueDetailsResponse" message="tns:getIssueDetailsResponse"/>
</operation>
<operation name="editIssue">
<input wsam:Action="http://bitbucket/BitBucket/editIssueRequest" message="tns:editIssue"/>
<output wsam:Action="http://bitbucket/BitBucket/editIssueResponse" message="tns:editIssueResponse"/>
</operation>
<operation name="createIssue">
<input wsam:Action="http://bitbucket/BitBucket/createIssueRequest" message="tns:createIssue"/>
<output wsam:Action="http://bitbucket/BitBucket/createIssueResponse" message="tns:createIssueResponse"/>
</operation>
<operation name="linkIssues">
<input wsam:Action="http://bitbucket/BitBucket/linkIssuesRequest" message="tns:linkIssues"/>
<output wsam:Action="http://bitbucket/BitBucket/linkIssuesResponse" message="tns:linkIssuesResponse"/>
</operation>
<operation name="queryIssues">
<input wsam:Action="http://bitbucket/BitBucket/queryIssuesRequest" message="tns:queryIssues"/>
<output wsam:Action="http://bitbucket/BitBucket/queryIssuesResponse" message="tns:queryIssuesResponse"/>
</operation>
</portType>
<binding name="BitBucketPortBinding" type="tns:BitBucket">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getIssueDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editIssue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIssue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="linkIssues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryIssues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BitBucket">
<port name="BitBucketPort" binding="tns:BitBucketPortBinding">
<soap:address location="http://localhost:8080/TransferClient/BitBucket"/>
</port>
</service>
</definitions>