src/java/Bpel/FPToGitHubBpelModule/src/TransferClientWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://fp/" name="TransferClientWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://fp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fp/" schemaLocation="TransferClientWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="transferFromFp11ToRt">
    <part name="parameters" element="tns:transferFromFp11ToRt"/>
  </message>
  <message name="transferFromFp11ToRtResponse">
    <part name="parameters" element="tns:transferFromFp11ToRtResponse"/>
  </message>
  <message name="transferFromFp11ToGithub">
    <part name="parameters" element="tns:transferFromFp11ToGithub"/>
  </message>
  <message name="transferFromFp11ToGithubResponse">
    <part name="parameters" element="tns:transferFromFp11ToGithubResponse"/>
  </message>
  <message name="transferFromRtToFp11">
    <part name="parameters" element="tns:transferFromRtToFp11"/>
  </message>
  <message name="transferFromRtToFp11Response">
    <part name="parameters" element="tns:transferFromRtToFp11Response"/>
  </message>
  <message name="transferFromFp11ToBitBucket">
    <part name="parameters" element="tns:transferFromFp11ToBitBucket"/>
  </message>
  <message name="transferFromFp11ToBitBucketResponse">
    <part name="parameters" element="tns:transferFromFp11ToBitBucketResponse"/>
  </message>
  <portType name="TransferClientWS">
    <operation name="transferFromFp11ToRt">
      <input wsam:Action="http://fp/TransferClientWS/transferFromFp11ToRtRequest" message="tns:transferFromFp11ToRt"/>
      <output wsam:Action="http://fp/TransferClientWS/transferFromFp11ToRtResponse" message="tns:transferFromFp11ToRtResponse"/>
    </operation>
    <operation name="transferFromFp11ToGithub">
      <input wsam:Action="http://fp/TransferClientWS/transferFromFp11ToGithubRequest" message="tns:transferFromFp11ToGithub"/>
      <output wsam:Action="http://fp/TransferClientWS/transferFromFp11ToGithubResponse" message="tns:transferFromFp11ToGithubResponse"/>
    </operation>
    <operation name="transferFromRtToFp11">
      <input wsam:Action="http://fp/TransferClientWS/transferFromRtToFp11Request" message="tns:transferFromRtToFp11"/>
      <output wsam:Action="http://fp/TransferClientWS/transferFromRtToFp11Response" message="tns:transferFromRtToFp11Response"/>
    </operation>
    <operation name="transferFromFp11ToBitBucket">
      <input wsam:Action="http://fp/TransferClientWS/transferFromFp11ToBitBucketRequest" message="tns:transferFromFp11ToBitBucket"/>
      <output wsam:Action="http://fp/TransferClientWS/transferFromFp11ToBitBucketResponse" message="tns:transferFromFp11ToBitBucketResponse"/>
    </operation>
  </portType>
  <binding name="TransferClientWSPortBinding" type="tns:TransferClientWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="transferFromFp11ToRt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferFromFp11ToGithub">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferFromRtToFp11">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferFromFp11ToBitBucket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransferClientWS">
    <port name="TransferClientWSPort" binding="tns:TransferClientWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

